<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zoomin.www.reserveMapper">

	<insert id="reserveWriteOK">
		INSERT INTO reserveBoard (id,perDate,perTime,price,perPlace,perDetail,t_no,phone,perName) VALUES (#{id},#{perDate},#{perTime},#{price},#{perPlace},#{perDetail},#{t_no},#{phone},#{perName})
	</insert>

	<select id="listOfArtist" resultType="ReserveDTO">
		SELECT * FROM reserveBoard WHERE t_no=#{t_no} ORDER BY no DESC
	</select>
	
	<select id="listOfGeneral" resultType="ReserveDTO">
		SELECT * FROM reserveBoard r LEFT OUTER JOIN talentBoard t ON r.t_no=t.no LEFT OUTER JOIN user_data u ON t.id=u.id WHERE r.id=#{id} ORDER BY r.no DESC
	</select>
	
	<select id="reserveView" resultType="ReserveDTO">
		SELECT * FROM reserveBoard a LEFT OUTER JOIN talentBoard b ON a.t_no=b.no LEFT OUTER JOIN user_data c ON b.id=c.id WHERE a.no=#{no}
	</select>
	
	<update id="updateStatus">
		UPDATE reserveBoard SET status=#{status}, cDate=#{cDate} WHERE no=#{no}
	</update>
	
	<update id="reserveModify">
		UPDATE reserveBoard SET perDate=#{perDate}, perTime=#{perTime}, perPlace=#{perPlace}, perDetail=#{perDetail}, perName=#{perName} WHERE no=#{no}
	</update>
	
	<delete id="reserveDelete">
		DELETE FROM reserveBoard WHERE no=#{no}
	</delete>
	
	<select id="completeReserve" resultType="ReserveDTO">
		SELECT * FROM reserveBoard a LEFT OUTER JOIN talentBoard b ON a.t_no=b.no LEFT OUTER JOIN user_data c ON b.id=c.id WHERE a.id=#{id} AND status='공연확정' ORDER BY a.no DESC
	</select>
	
	<!--  admin -->
	
	<select id="dailyReserveWrite" resultType="_int">
		SELECT count(*) 
		FROM reserveBoard  
		<![CDATA[
		WHERE wDate > CURRENT_DATE()
		]]>
	</select>
	
	<select id="dailyReserveComplete" resultType="_int">
		SELECT count(*) 
		FROM reserveBoard  
		<![CDATA[
		WHERE cDate > CURRENT_DATE()
		]]>
	</select>
	
	<select id="reserveGraph" resultType="_int">
		SELECT COUNT(*) FROM reserveBoard WHERE cDate = #{date};
	</select>
</mapper>
